name: EKS Deployment Pipeline

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform EKS Deployment
    runs-on: ubuntu-latest
    
    env:
      AWS_REGION: us-east-1
      KUBECONFIG: ${{ github.workspace }}/kubeconfig_eks

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Update Kubeconfig for EKS Cluster
        run: |
          aws eks update-kubeconfig \
            --region ${{ env.AWS_REGION }} \
            --name eks-cluster \
            --kubeconfig ${{ env.KUBECONFIG }}

      - name: Install Kubectl
        run: |
          sudo curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

      - name: Deploy Application to EKS
        run: kubectl apply -f ./with-deployment/ --kubeconfig ${{ env.KUBECONFIG }}

      - name: Verify Deployment
        run: kubectl get pods --kubeconfig ${{ env.KUBECONFIG }}
